@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {}

html {
  --font-sans: 'Inter', sans-serif;
  --font-handwritten: 'Courgette', cursive;
}


.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.note .unhighlighted {
  @apply text-black font-normal !important;
}

mark.highlight {
  cursor: pointer !important;
}

svg {
  transition: all 0.3s;
}