@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

p {
  @apply mb-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold mb-1;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-xl;
}

iframe {
  border: 0
}

table thead {
  @apply bg-gray-100;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr {
  @apply hover:bg-gray-100;
}

a[data-level="three"] {
  padding-left: 8px;
}
a[data-level="four"] {
  padding-left: 16px;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mark {
  background: none;
}

.highlight {
  @apply underline text-cyan-700;
}